.work-description {
  overflow: hidden;
}

.work-description-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid black;
}

.work-description-title-text {
  display: block;
  font-size: 18px;
  margin-left: 1rem;

}

.work-description-end {
  cursor:pointer;
  user-select: none;
  margin-right: 1rem;
  width:20px;
  height:20px;
  background-size: contain;
  background-image:url("./images/icons/three-points.png");
}
.work-description-text{
  display: block;
  height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
  margin-right: 15px;
}
.work-description-more{
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: white;
  height: 99%;
}
.work-description-more-title{
  padding-left: 12px;
  font-weight: bold;
height: 50px;
line-height: 50px;
background-color: black;
color: white;
font-size: 18px;
}
.url-wrapper{
  position: absolute;
  bottom: 0px;
  display: flex;
  margin-top: auto;
}
.works-github{
  margin:10px;
  cursor: pointer;
  display: flex;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-image:url("./images/github.png");
}
.works-show{
  margin:10px;
  cursor: pointer;
  display: flex;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-image:url("./images/share.png");
}
