@import './AboutMe/index';
@import './header/index';
@import './footer/index';
@import './contacts/index';
@import "./works/index";
body{
  margin: 0; display: flex;
  flex-direction: column;
}
.page{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100Vh;
}
.content{
  width:1360px;
  margin: 0 auto;
  padding-top: 100px;
  flex: 1 0 auto;

}
.close {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 10px;
  width: 32px;
  height: 32px;
  transition: all 0.25s;
}
.close:hover {
  transform: rotate(180deg);
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}