.awards-card{
  display: flex;
  flex-direction: column;
  width:30%;
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  filter: drop-shadow(0 0 20px rgba(0,60,120,.06));;
}