.header-buttons{
  color: white;
  transition-property: all;
  transition-duration: .5s;
  user-select: none;
  cursor: pointer;
  padding: .4em .6em;
  font-family: ALSArtemiusSans,Helvetica,sans-serif;
  font-size: 25px;
  text-decoration: none;
}
a.header-buttons:hover {
  color: white;
  background-color: gray;
}
.header-buttons-active{
  user-select: none;
  padding: .4em .6em;
  font-family: ALSArtemiusSans,Helvetica,sans-serif;
  font-size: 25px;
  color: gray;
  transition-property: all;
  transition-duration: .5s;
}