.header-language{
  max-width: 63px;
  max-height: 63px;
  transition-property: all;
  transition-duration: .5s;
  text-transform: capitalize;
  width: max-content;
  user-select: none;
  cursor: pointer;
  font-family: ALSArtemiusSans,Helvetica,sans-serif;
  padding: .4em .6em;
  color: white;
  font-size: 25px;
}
div.header-language:hover {
  transition-property: all;
  transition-duration: .5s;
  color: white;
  background-color: gray;
}