.footer-wrapper-second-text{
  font-size: 1rem;
  text-align: center;
  line-height: 21px;
  font-family: ALSArtemiusSans,Helvetica,sans-serif;
  color: hsla(0,0%,100%,0.3);
}
.footer-wrapper-second-text:hover {
  text-decoration: none;
  color: hsla(0,0%,100%,0.3);
}
a.footer-wrapper-second-text{
  color: hsla(0,0%,100%,0.3);
  text-decoration: none;
}
